[build]
  command = "npm ci &amp;&amp; cd client &amp;&amp; npm ci &amp;&amp; npm run build"
  publish = "client/build"

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
